#site-header
{
    color: #A4A4A4;
    font-family: courier;
    font-variant: small-caps;
    text-align: center;

    background-image:url(./img/BatmanLogo1.jpg);
    background-position: 50% 50%;
    background-size: 70%;

    padding: 5% 70% 2% 0%;
    margin-top: 63px;
    margin-left: -8px;
    margin-right: -8px;
}

.links {
color: #585858;
font-family: times new roman;
font-variant: small-caps;
font-size: 20px;
}

a:hover {
color: #015d86;
font-family: times new roman;
font-variant: small-caps;
font-size: 20px;
}

a:hover.not {
font-size: 15px;
}

.connection-link
{
    position: absolute;
    right: 8px;
    top: 4px;
    color: #A4A4A4;
}

#connection-info
{
    position: absolute;
    left: 2px;
    top: -12px;
    color: #A4A4A4;
}

#nav-search-form
{
    width: 350px;
    margin: auto;
}

#nav-head-search
{
    background-color: black;
    top: 0px;
    left: 0px;
    width:100%;
    color: #A4A4A4;
    font-variant: small-caps;
    position: absolute;
    z-index: 3;
    padding: 10px 0px;
}

html>body #nav-head-search
{
  position: fixed;
}

.section-admin
{
	background: url("img/texture2.jpg");
    padding: 1% 1% 1% 1%;
    margin-left: -8px;
    margin-right: -8px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
}

.section-search
{
    margin-left: -8px;
    margin-right: -8px;
/*
	background-color: #A11111;
*/
	background: url("img/fibre.jpg");
    color: #A4A4A4;
	padding: 1%;
	text-align:center;
}

.section-film
{
/*
    background-color: #AA00A9;
*/
    text-align: center;
    color: white;
}

article
{
    background-color: #2E2E2E;
    border:solid 2px darkgrey;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.div-img-film
{
/*
    background-color: #111BFF;
*/
	background: url("img/carbon.jpg");
	border-bottom:solid 2px darkgrey;
}

.img-film
{
    width: auto;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.div-info
{
/*
    background-color: #B99BFF;
*/
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 170px;
}

.div-info-update
{
/*
    background-color: #B99BFF;
*/
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 250px;
}

.div-rating
{
/*
    background-color: #B66BFF;
*/
    display: inline-block;
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.div-rating-review
{
/*
    background-color: #B66BFF;
*/
    display: inline-block;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.admin-film-options
{
/*
    background-color: #366899;
*/
	background-image: url(./img/texture2.jpg);
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
}

#body-connection
{
    background-image:url(./img/20-colorful-wallpaper.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.div-connection-box
{
    width: auto;
    height: 500px;
    display: block;
    margin: 5% 10%;
	background-color: #000000;
	border: 1px solid white;
	opacity: 0.85;
}

.connection-title
{
    position: relative;
    left: -30px;
}

.connection-label
{
    position: relative;
    left: -15px;
    margin-botton: 25px;
}

.div-connection-form{
    width: 160px;
    height: auto;
    display: block;
    margin: 5px auto;
    color: #ffffff;
    font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
}

.form-rate
{
    position: relative;
}

.form-rate-review
{
    position: relative;
}

.p-div-rating
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.star
{
    display: none;
}

.star + label:hover
{
    cursor: pointer;
}

.star + label
{
    background: url("img/black_star.png") no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.star:checked + label
{
    background: url("img/star.png") no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.loupe
{
	display: none;
}

.loupe + label
{
    background: url("img/smloupe.png") no-repeat;
    height: 60px;
    width: 60px;
    display: inline-block;
}

body
{
	background: url("img/small2.1.jpg");
	color: white;
}

footer
{
	color: white;
	text-align: center;
}

.div-listratings
{
    margin: 5% 10%;
	background-color: #000000;
	border: 1px solid white;
	opacity: 0.85;
	text-align: center;
}

.div-admin
{
    margin: 5% 10%;
	background-color: #000000;
	border: 1px solid white;
	opacity: 0.85;
	text-align: center;
}

.div-infosfilm
{
    margin: 5% 10%;
	background-color: #000000;
	border: 1px solid white;
	opacity: 0.85;
	text-align: center;
}

.div-synopsis
{
	padding: 0 25px;
	text-align: justify;
}

.update-synopsis
{
/*
    background-color: #366899;
*/
	background-image: url(./img/texture2.jpg);
	text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
}

.link-img-film
{
    color: #BBB;
}

.link-img-film:hover
{
    color: #BBB;
}
